.input-text {
  border: 1px solid #ddd;
  min-height: 150px;
  text-align: left;
  width: 100%;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;   
  box-sizing: border-box;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: #000;
  font-family: SegoeUI,"Segoe UI";
  font-size: 1rem;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 600;
  height: 2.5rem;
  margin-left: 0;
  margin-right: 0;
  outline: none;
  padding: 0 .5rem;
  text-overflow: ellipsis;
  width: 100%;
}

.input-text:hover {
  background-color: #fff;
  border-color: #666;
  font-weight: 400;
  }

.record-button {
  margin: 0;
  padding: 0;
  display: inline-block;
  padding: 5px;
  -webkit-appearance: button;
  background-color: #fff;
  border: 1px solid #6e6f77;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-family: SegoeUI,"Segoe UI";
  font-size: 14px;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  margin: 0;
  outline: none;
  overflow: visible;

}

.record-button:hover {

    background-color: #e8eaec;
    border-color: #a4a6ac;
}

.record-div {
  float: right;
}